{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h5>Количество всех новостей: {{news|length}}</h5>
    <hr>
        <table>
            <tr>
                <td><b>Автор</b></td>
                <td><b>Заголовок</b></td>
                <td><b>Дата публикации</b></td>
                <td><b>Публикация</b></td>
                <td><b>Тип публикации</b></td>
            </tr>
            {% for post in news %}
            <tr>
                <td>{{ post.author }}</td>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.date_post|date:'d M Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
                <td>{{ post.get_type_post_display }}</td>
            </tr>
            {% endfor %}
        </table>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
